{% extends 'home/base.html' %}
{% block content %}

<div class="col-sm-10">
    <h3 class="my-5">Hello This is about page</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda velit eveniet placeat quam dolores?
        Explicabo rem libero quibusdam quo obcaecati praesentium? Voluptatibus omnis facilis eius quas pariatur
        inventore, unde dolores facere adipisci architecto, a magnam consequatur distinctio nisi iste explicabo enim
        sit? Quidem distinctio unde adipisci eaque ullam. Et velit nihil, iure obcaecati possimus aut.
    </p>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock content %}