{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'home/css/st.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="{% static 'home/js/jquery.js' %}">
    <link rel="stylesheet" href="{% static 'home/js/popper.min.js' %}">
    <title>Document</title>
</head>
{% block middleware %}
{% endblock middleware %}

<body>
    <header>
        <div class="container-fluid ">
            {% include 'home/nav.html' %}
        </div>
        <div class="row">
            {% block side %}
            {% endblock side%}
            {% block content %}
            {% endblock content%}
        </div>
        </div>
    </header>
    <script src="{% static 'home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.js' %}"></script>
    <script src="{% static 'home/js/popper.js' %}"></script>
</body>
</html>