*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    min-height: 100vh;
    background: url("../img/145.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    width: 100%;
    margin: 0%;
}